﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title - PPSR CARS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="~/js/html5shiv.js"></script>
          <script src="~/js/respond.min.js"></script>
        <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
    <!-- Custom styles for this template -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/jquery.bxslider.css" type="text/css" media="screen" />
    <link href="~/css/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/jquery.selectbox.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/mobile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/settings.css" media="screen" />
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/ts.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key&amp;sensor=false"></script>

    <script type="text/javascript" src="~/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
                (Load Extensions only on Local File Systems !
                The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Twitter Feed Scripts
         Uncomment to activate

    <script type="text/javascript" src="~/js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="~/js/twitter/twitter_feed.js"></script> -->
    <style>
        .box-shadow--16dp {
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
        }
        .affix {
            top: 0;
            width: 100%;
        }

        .affix-top {
            width: 100%;
        }

        .affix-bottom {
            position: absolute;
            width: 100%;
        }
    </style>
</head>
<body>
    <!--Header Start-->
    <header data-spy="affix" data-offset-top="1" class="clearfix">
      <section class="toolbar">
          <div class="container">
              <nav class="navbar navbar-expand-lg" role="navigation">
              
                      
                      <!-- Brand and toggle get grouped for better mobile display -->

                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                               width="40" height="40"
                               viewBox="0 0 226 226"
                               style=" fill:#000000;">
                          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,226v-226h226v226z" fill="none"></path><g><path d="M127.125,65.91667h-9.41667v-30.60417l1.88333,-1.4125c0.94167,-0.94167 24.95417,-17.89167 85.22083,13.65417l-4.2375,8.475c-45.2,-23.54167 -67.32917,-18.3625 -73.45,-15.5375zM108.29167,65.91667h-9.41667v-25.425c-6.12083,-2.825 -28.25,-8.00417 -72.97917,15.5375l-4.2375,-8.475c59.79583,-31.54583 83.80833,-14.59583 84.75,-13.65417l1.88333,1.4125zM56.5,160.08333c0,-2.825 -1.88333,-4.70833 -4.70833,-4.70833h-18.83333c-2.825,0 -4.70833,1.88333 -4.70833,4.70833v28.25c0,2.825 1.88333,4.70833 4.70833,4.70833h18.83333c2.825,0 4.70833,-1.88333 4.70833,-4.70833zM197.75,160.08333c0,-2.825 -1.88333,-4.70833 -4.70833,-4.70833h-18.83333c-2.825,0 -4.70833,1.88333 -4.70833,4.70833v28.25c0,2.825 1.88333,4.70833 4.70833,4.70833h18.83333c2.825,0 4.70833,-1.88333 4.70833,-4.70833z" fill="#ffffff"></path><path d="M174.20833,94.16667c0,0 1.4125,-4.70833 4.70833,-4.70833c3.29583,0 14.125,0.94167 14.125,4.70833v5.65c0,1.88333 -1.88333,3.76667 -3.76667,3.76667h-15.06667zM51.79167,94.16667c0,0 -1.4125,-4.70833 -4.70833,-4.70833c-3.29583,0 -14.125,0.94167 -14.125,4.70833v5.65c0,1.88333 1.88333,3.76667 3.76667,3.76667h15.06667z" fill="#000000"></path><path d="M178.91667,103.58333l-9.41667,-28.25c-3.29583,-8.00417 -9.8875,-10.35833 -18.83333,-11.77083c-9.41667,-1.4125 -22.6,-2.35417 -37.66667,-2.35417c-15.06667,0 -28.72083,1.4125 -37.66667,2.35417c-8.475,0.94167 -15.06667,3.76667 -18.83333,11.77083l-9.41667,28.25c0,0 -18.83333,8.475 -18.83333,28.25v38.1375c0,2.35417 1.88333,4.2375 4.2375,4.70833c9.41667,1.4125 36.25417,4.2375 80.5125,4.2375c44.25833,0 71.09583,-2.825 80.5125,-4.2375c2.35417,-0.47083 4.2375,-2.35417 4.2375,-4.70833v-38.1375c0,-19.775 -18.83333,-28.25 -18.83333,-28.25z" fill="#000000"></path><path d="M150.19583,160.55417c-2.825,-3.29583 -6.59167,-5.17917 -10.82917,-5.17917h-52.73333c-4.2375,0 -8.475,1.88333 -10.82917,5.17917l-13.65417,16.95c13.18333,0.94167 30.13333,1.4125 50.85,1.4125c20.71667,0 37.66667,-0.47083 50.85,-1.4125z" fill="#ffffff"></path><path d="M155.375,122.41667l11.77083,8.00417c1.4125,0.94167 3.29583,1.4125 5.17917,1.4125h15.5375c3.29583,0 5.17917,-2.825 4.70833,-6.12083c-0.94167,-3.29583 -2.35417,-5.65 -3.76667,-8.00417c-15.5375,0.94167 -33.42917,4.70833 -33.42917,4.70833zM70.625,122.41667l-11.77083,8.00417c-1.4125,0.94167 -3.29583,1.4125 -5.17917,1.4125h-15.5375c-3.29583,0 -5.17917,-2.825 -4.70833,-6.12083c0.94167,-2.825 2.35417,-5.65 4.2375,-8.00417c15.06667,0.94167 32.95833,4.70833 32.95833,4.70833z" fill="#ffffff"></path><path d="M113,122.41667c0,0 -30.60417,0 -37.66667,4.70833c0,0 26.8375,0 30.60417,1.88333c3.76667,1.4125 7.0625,7.53333 7.0625,7.53333c0,0 3.29583,-6.12083 7.0625,-7.53333c3.76667,-1.88333 30.60417,-1.88333 30.60417,-1.88333c-7.0625,-4.70833 -37.66667,-4.70833 -37.66667,-4.70833zM169.02917,103.58333l-8.475,-24.95417c-0.94167,-2.35417 -2.825,-4.70833 -11.3,-5.65c-8.00417,-0.94167 -21.1875,-2.35417 -36.25417,-2.35417c-15.06667,0 -28.25,1.4125 -36.725,2.35417c-8.00417,0.94167 -9.8875,3.29583 -11.3,5.65l-8.00417,24.95417z" fill="#ffffff"></path><path d="M37.66667,150.66667v6.59167c0,4.70833 3.76667,8.94583 8.475,9.41667c2.825,0.47083 6.59167,0.47083 10.35833,0.94167v-13.65417zM188.33333,150.66667v6.59167c0,4.70833 -3.76667,8.94583 -8.475,9.41667c-2.825,0.47083 -6.59167,0.47083 -10.35833,0.94167v-13.65417z" fill="#ffffff"></path></g></g></svg>
                          
                          <a class="navbar-brand" style="text-decoration:none!important;font-weight:700!important;color:white!important;" href="@Url.Action("Index","Home")"<b><font face="sans-serif" size="3">PPSR CARS</font></b> </a>

                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav pull-right" style="color:white!important;font-weight:700!important;">
                              <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>

                              <li><a href="@Url.Action("WhatWeOffer","Home")"<b><font face="sans-serif" size="1">WHAT WE OFFER</font></b> </a>
                              <li><a href="@Url.Action("FAQ","Home")"<b><font face="sans-serif" size="1">FAQ</font></b> </a>
                              <li><a href="@Url.Action("Blog","Home")"<b><font face="sans-serif" size="1">BLOG</font></b> </a>
                              <li><a href="@Url.Action("Disclaimer","Home")"<b><font face="sans-serif" size="1">DISCLAIMER</font></b> </a>
                              <li><a href="@Url.Action("PrivacyCookies","Home")"<b><font face="sans-serif" size="1">PRIVACY &amp; COOKIES</font></b> </a>
                              <li><a href="@Url.Action("TC","Home")"<b><font face="sans-serif" size="1">TERMS &amp; CONDITIONS</font></b> </a>
                              
                              </li>
                              
                              </ul>
                              </div>
                      </nav>
              

                          
                      </div>
                      <!-- /.navbar-collapse -->
                 
                  <!-- /.container-fluid -->
              
          
       
    </section>
       
    </header>
    <!--Header End-->

    <div class="clearfix"></div>
    <section class="content">
        @RenderBody()
    </section>
    <hr />
    <div class="clearfix"></div>
    <section class="copyright-wrap padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20">
                        <a href="> "<b><font face="sans-serif" size="3">PPSR CARS</font></b>
                        </a>

                        </a>
                    </div>
                    <p><b><font face="sans-serif" size="1">Copyright &copy; 2020 GJ Technology Pty Ltd.  All rights reserved.</font></b> </a> </p>
                </div>
                
            </div>
        </div>
    </section>


    <div class="back_to_top"> <img src="~/images/arrow-up.png" alt="scroll up" /> </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/js/retina.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/modernizr.custom.js"></script>
    <script defer src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/js/jquery.selectbox-0.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
