﻿@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="container-fluid margin-top-100">

</div>
<div>

    <h3 class="margin-bottom-25 margin-top-none"><strong>Useful tips</strong></h3>


    <script src="//rss.bloople.net/?url=http%3A%2F%2Ffeeds.highgearmedia.com%2F%3Fsites%3DTheCarConnection%26type%3Dblog%26tags%3Dtips&showtitle=false&type=js"width="1000" height="1000"></script>



</div>


















