﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="container-fluid margin-top-100">
    <h1><img src="https://img.icons8.com/ios/50/000000/mobile-email.png" /></h1>
</div>

