﻿@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}
<style>
    .containerForVideo {
        position: relative;
        width: 100% !important;
        height: 0;
        padding-bottom: 56.25%;
    }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 !important;
    }

    ul#horizontal-list {
        list-style: none;
        padding-top: 20px;
    }

        ul#horizontal-list li {
            display: inline;
        }

    #boxes {
        content: "";
        display: table;
        clear: both;
    }

    .column5 {
        float: left;
        width: 22%;
        padding-right: 10px !important;
        text-align: center;
        margin-right: 10px !important;
        font-family: "Motiva Sans", Sans-serif;
    }

        .column5 p {
            font-weight: 600;
            font-size: 10px !important;
            color: #464444;
        }

        .column5 h4 {
            font-weight: 700;
            font-size: medium;
            color: #131313;
            font-weight: 600;
            line-height: 1.3em;
        }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
    }
</style>

<link href="~/Content/home.css" rel="stylesheet" />



<div class="clearfix"></div>


<!--message-wrap ends-->
<section class="content" style="display: flex; align-items: center; justify-content: center;">
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="inner-page homepage margin-bottom-none">
            <section class="car-block-wrap padding-bottom-40">
                <div class="container">
                    <div class="row">
                        <!--car-info-wrap ends-->
                        <div class="container">
                            <div class="row">


                                <!--welcome ends-->


                                <div class="flippington-contain form-contain float-md-right float-sm-right col-md-pull-12 col-sm-pull-12 col-lg-5 col-md-5 col-sm-12 col-xs-12" style="display:block;">
                                    <div class="flippington form-middleman">
                                        <form class="content frontflip" name="logon" action="" onsubmit="return false;" id="frmGetPPSR">
                                            <h2>Search By VIN or REGO</h2>
                                            <input tabindex="1" class="textField mb-1" type="text" name="REGO" id="REGO" placeholder="Enter REGO or VIN" value="">
                                            <input tabindex="2" class="textField mb-3" type="text" name="Email" id="Email" placeholder="Enter your Email" value="" maxlength="50">



                                            <div class="buttonbox mb-3">
                                                <button tabindex="5" type="submit" class="blue_button button" id="btnGetPPSR">
                                                    <span>BUY NOW</span>
                                                </button>

                                            </div>
                                            <div class="table" style="float:left">
                                                <ul id="horizontal-list">
                                                    <li style="float:left"><a href="#">WHERE IS MY VIN?</a></li>
                                                    <li style="float:right"><a href="#">SAMPLE REPORT</a></li>

                                                </ul>
                                            </div>

                                        </form>

                                    </div>
                                </div>

                                <div class="col-md-push-12 col-sm-push-12 col-lg-7 col-md-7 col-sm-12 col-xs-12" style="display:block;">
                                    <h3 class="margin-bottom-25 margin-top-none col-12" style="width:100%!important"><strong>Tips</strong> on buying used cars</h3>
                                    <div class="containerForVideo">

                                        <iframe src="https://www.youtube.com/embed/zbMLZZddrY4"
                                                frameborder="0" class="video"></iframe>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!--car-block-wrap ends-->
                <div class="row parallax_parent design_2 margin-bottom-40 margin-top-30">


                    <div class="overlay">
                        <div class="container">
                            <div class="row" id="boxes">
                                <div class="scroll_effect bounceInLeft" data-wow-delay=".3s">
                                    



                                    <section class="column5">
                                        <img class="" src="~/images/PPSRImages/IndexPPSRCars2.png">
                                        <h4 style="text-align:center">PPSR CARS REPORT</h4>

                                        <p style="text-align:left!important">
                                            OUTLINES A USED CAR'S HISTORY, GIVING YOU THE PEACE OF MIND TO CONFIDENTLY PURCHASE YOUR NEXT CAR
                                        </p>
                                    </section>
                                    <section class="column5">
                                        <img class="" src="~/images/PPSRImages/IndexPPSRCertificate3.png">
                                        <h4 style="text-align:center">PPSR CERTIFICATE</h4>


                                        <p style="text-align:left!important">
                                            PROVIDES ANALYSIS IF THERE ARE ANY ENCUMBRANCES REGISTERED AGAINST A CAR OR ANY OTHER OUTSTANDING INTERESTS
                                        </p>
                                    </section>
                                    <section class="column5">
                                        <img class="" src="~/images/PPSRImages/IndexFAQ3.png">
                                        <h4 style="text-align:center">FAQ</h4>


                                        <p style="text-align:left!important">
                                            GOT A QUESTION?
                                            <br />CHECK OUT OUR FAQ SECTION
                                        </p>
                                    </section>

                                    <section class="column5">
                                        <img class="" src="~/images/PPSRImages/IndexPayPal2.png">
                                        <h4 style="text-align:center">BUY OUR REPORT</h4>

                                        <p style="text-align:left!important">
                                            BUY SECURELY THROUGH PAYPAL
                                        </p>
                                    </section>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="slide">
                </div>
            </section>
        </div>
    </div>
</section>
<!--car-block-wrap ends-->
