﻿
@{
    ViewBag.Title = "WhatWeSupply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid margin-top-100">
    <h3>PPSRCars Report includes the following</h3>
    <b>
        <img src="https://img.icons8.com/ios/50/000000/diploma.png" /> <b>PPSR Certificate</b> <br />
        <img src="https://img.icons8.com/ios/50/000000/car-fire.png" /> Damage status <br />
        <img src="https://img.icons8.com/ios/50/000000/flood-car.png" />Stolen and written off status <br />
        <img src="https://img.icons8.com/ios/50/000000/bank-building.png" />Finanace owning liability check <br />
        <img src="https://img.icons8.com/ios/50/000000/receipt-approved.png" />Registration details and status <br />
        <img src="https://img.icons8.com/ios/50/000000/speed.png" />Odometer status <br />
        <img src="https://img.icons8.com/ios/50/000000/graph-report.png" />Sales History <br />
        <img src="https://img.icons8.com/ios/50/000000/airbag-on.png" /> ANCAP Safety and emssion ratings <br />

    </b>

</div>

